extends layout

include mixins/_contactForm

block content
  .inner
    h2= title
    h4 I'm always looking for creative projects and new connections
    p Please fill out the below form accuratley and with detail. I look forward to meeting you and your team.

    +contactForm