extends layout

block content
  .inner--home
    h2.page-title= title
    h4.subtitle I'm a web developer with a Bachelors in Interactive Media Design from The Art Institutes of Atlanta. My passion is web development and eye catching interactions that make the user feel engaged all while maintaining clean and easy to read code.