extends layout
include mixins/_projectSingleCard

block content
  .inner
    h2.page-title= project.name
    .project-info
      .row
        .col-md-12.col-sm-12
          +projectSingleCard(project)
        .col-md-12.col-sm-12
          .subtitle= project.description
      