extends layout

include mixins/_projectCard
include mixins/_pagination

block content
  .inner
    h2.page-title= title
    h3.subtitle--center Specializing in javaScript, HTML5/CSS3, Responsive Design, Animation &nbsp; UX Design.
    +pagination(page, pages, count)
    .projects
      each project in projects
        +projectCard(project)
    +pagination(page, pages, count)
    