input, textarea {
  width:100%;
  padding:10px;
  border: 1px solid $grey;
  &.input {
    &--error {
      border-color: red;
    }
  }
}

label {
  padding: 10px 0;
  display: block;
}

.contact-form {
  .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    label {
      flex: none;
      display: inline-block;
      vertical-align: middle;
      width: 125px;
      font-weight: bold;
      font-size: 1em;
      &.right-inline {
        text-align: right;
        padding-right: 8px;
        padding-left: 10px;
        width: auto;
      }
    }
    .input-control {
      flex: 1 1 auto;
      display: block;
      margin-bottom: 10px;
      margin-right: 8px;
    }
    &__wide {
      label {
        font-weight: bold;
        font-size: 1em;
      }
      input, textarea {
        box-sizing: border-box;
      }
    }
  }
  textarea {
    min-height: 150px;
    margin-bottom: 15px;
  }
}

.form {
  background: white;
  padding: 2rem;
  box-shadow: $grad;
  & + .form {
    margin-top: 4rem;
  }
  // I know this isn't bem but meh
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid $grey;
  }
}
